<div class="container show-page">
  <div class="row">
    <div class="col-sm-7">

    <div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <%= image_tag("monkey-fam.jpg", class: 'rounded pic-main') %>
    </div>
    <div class="carousel-item">
      <%= image_tag("monkey-hi.jpg", class: 'rounded pic-main') %>
    </div>
    <div class="carousel-item">
      <%= image_tag("monkey-mirror.jpg", class: 'rounded pic-main') %>
    </div>
  </div>
</div>
    </div>
    <div class="col-sm-5 monkey-description">
        <div class="monkey-name"><%= @monkey.name %></div>
        <div class="monkey-species"><%= @monkey.species %></div>
        <div class="monkey-city"><i class="fas fa-map-marker-alt"></i> <%= @monkey.city %></div>
        <div class="monkey-description"><%= @monkey.description %></div>
      
        <%= link_to "Rescue Monkey", monkey_getaways_path(@monkey), class: 'rescue-button btn btn-primary'  %>
    </div>
  </div>
  <div class="container img-gallery">
    <div class="img-1 rounded">
    </div>
    <div class="img-2 rounded">
    </div>
    <div class="img-3 rounded">
    </div>
    <div class="img-4 rounded">
    </div>
  </div>