<div class="container show-page">
  <div class="row">
    <div class="col-sm-7 big-pic">

    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner carousel-pic">
    <div class="carousel-item active">
      <%= image_tag("Monkey-pics/monkey-fam.jpg", class: 'rounded pic-main') %>
    </div>
    <div class="carousel-item">
      <%= image_tag("Monkey-pics/monkey-sad.jpg", class: 'rounded pic-main') %>
    </div>
    <div class="carousel-item">
      <%= image_tag("Monkey-pics/monkey-mirror.jpg", class: 'rounded pic-main') %>
    </div>
  </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
    </div>
    <div class="col-sm-5 monkey-description">
        <div class="monkey-name"><%= @monkey.name %></div>
        <div class="monkey-species"><%= @monkey.species %></div>
        <div class="monkey-city"><i class="fas fa-map-marker-alt"></i> <%= @monkey.city %></div>
        <div class="monkey-description"><%= @monkey.description %></div>
      
        <%= link_to "Rescue Monkey", getaways_path, class: 'rescue-button btn btn-primary'  %>
    </div>
  </div>
  <div class="container img-gallery">
    <div class="img-1 rounded">
    </div>
    <div class="img-2 rounded">
    </div>
    <div class="img-3 rounded">
    </div>
    <div class="img-4 rounded">
    </div>
  </div>